<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Shoe Page</title>
</head>
<body>
  <form action="/create" method="post">
    <label for="brand_id">Please pick a shoe brand:</label>
    <select id="brand_id" name="brand_id">
      <option value="1">Jordan</option>
      <option value="2">Nike</option>
      <option value="3">New Balance</option>
    </select>
    <label for="shoe">shoe name:</label>
    <input placeholder="Jordan 1" type="text" name="shoe" id="shoe">
    <button type="submit">Submit</button>
  </form>
</body>
</html>