<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Update Shoe Page</title>
</head>

<body>
 <form action="/update" method="post">
  <label for="shoe_name">What shoe are you trying to update: </label>
  <input type="text" name="shoe_name" id="shoe_name">
  <label for="shoe">Update shoe name:</label>
  <input placeholder="Jordan 1" type="text" name="shoe" id="shoe">
  <button type="submit">Submit</button>
 </form>
</body>

</html>